body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #f8f7f2;
}

header {
    padding: .75rem 0;
    border-bottom: solid 1px black;
    background-color: #0F4456;
    text-align: center;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.logo:active {
    color: rgb(199, 184, 184);
}

.Home h2 {
    color: black;
    text-align: center;
    font-size: 2.5rem;
}

.employee {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.employee a {
    text-decoration: none;
    color: white;
    background-color: #b18180;
    border-radius: 20px;
    padding: 50px;
    border: 2px solid black;
}

.employeeBox {
    color: black;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.employeeBox .buttons {
    display: flex;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.buttons a {
    padding: 0 10px 5px 10px;
    background-color: #23647a;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 2.5rem;
}

.buttons a:hover {
    cursor: pointer;
}

.buttons a:active {
    background-color: #194b5c;
}

.inactive {
    opacity: 0.7;
}

input {
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    font-size: 1.5rem
}

.employeeBox h3 {
    font-size: 4rem;
    margin: 0px;
}